html,
body,
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  border: none;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  padding: 0px;
  appearance: none;
}